.App {
  text-align: center;
  margin: 5%;
  min-height: 80vh;
}

.smurfContainer {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width: 40vw;
  margin: auto;
  background-color: hsla(182, 100%, 13%, 0.753);
  padding: 10px;
  margin-bottom: 5vh;
  color: white;
}

.smurfContainer,
button {
  height: auto;
  align-self: flex-end;
}

.newSmurfContainer {
  margin: 5vh 10px 0vh 10px;
}

.fetchedSmurfs {
  background-color: hsla(180, 100%, 31%, 0.45);
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 5vh;
}

.newSmurfContainer,
form {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 0px;
  width: 100%;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 25%;
  text-align: left;
  font-size: 1.2rem;
}

.newSmurfContainer form label input {
  display: inline-block;
  float: right;
  margin-left: 25px;
  margin-bottom: 2vh;
}

.newSmurfContainer form button {
  margin-top: 3vh;
  align-self: auto;
}
